/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
    */
.page.theme_light {
  --accent-color: #FF8DCB;
  --header-text: #FFC2E6;
  --text-color-dark: #353430;
  --text-color-light: #353430;
  --shadow-color: #FF0070;
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
}

.page.theme_light .decor-zone::before {
  border-inline-end: 1px solid var(--text-color-dark);
  border-block-start: 1px solid var(--text-color-dark);
}

.page.theme_light .decor-zone::after {
  justify-self: start;
  border-inline-start: 1px solid var(--text-color-dark);
  border-block-end: 1px solid var(--text-color-dark);
}

.page.theme_light .page-title {
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.page.theme_light .footer-text {
  text-shadow: 2px 2px 0px var(--shadow-color);
}

.page.theme_light .header__theme-menu-button{
  color: var(--text-color-dark);
}

.page.theme_light .header__theme-menu-button:focus {        
  outline: none;
  border-block-end: 1px solid var(--text-color-dark);
}

.page.theme_light .header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--text-color-dark);
}

.page.theme_light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}

.page.theme_light .header__theme-menu-button_active,
.page.theme_light .header__theme-menu-button_active:hover {
  border: 1px solid var(--text-color-dark);
  pointer-events: none;
}

.page.theme_light .section-title {
  color: var(--text-color-dark);
}

.page.theme_light .decor-rec{
  visibility: hidden;
}