/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  /* масштабирует каринтку чтобы полностью покрыть */
  background-size: cover;
  /* фон не подвижен при прокрутке */
  background-attachment: fixed; 
  font-family: var(--font-family);
}

.decor-rec {
    position: absolute;
    display: flex;
    /* располагаем в строку  !!*/
    flex-direction: row;
    /* по вертикали по центу */
    align-items: center;
    column-gap: 10px;
    /* ! */
    right: 17px;
    top: 10px;
}

.decor-rec::before {
    content: "REC";
    color: var(--accent-color);
    /* Межбуквенный интервал */
    letter-spacing: 1px; 
    font-size: 18px;
    /* выравнивание по концу стрки */
    text-align: end;
}

.decor-rec::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* смещеие по х, у 4рх размытие, 2рх распространие*/
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header {
  display: grid;
  /* 10рх минимальный отсуп, 20рх макс */
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  block-size: 100vh;
  /* мин выс auto-браузер сам опред ! */
  min-block-size: auto;
  /* выравнивание грид по вертикальной оси !*/
  align-content: space-evenly;
}

.decor-zone {
  position: relative;
}

.decor-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  /* рамки справа и сверху */
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  /*  3% от ширины viewport */
  right: clamp(10px, 3vw, 20px);
  top: clamp(10px, 3vw, 20px);
}


.decor-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  /* рамки слева и снизу */
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  left: clamp(10px, 3vw, 20px);
  /* размер от 10рх до 20 */
  bottom: clamp(10px, 3vw, 20px);
}

.header__theme-menu {
  display: grid;
  justify-content: end;
  /* выравн по вертик центр */
  align-content: center;
  margin-top: 10px;
}

.header__theme-menu-list {
  /* убрать точки */
  list-style: none;
}

.header__theme-menu-button {
  color: var(--accent-color);
  /* прозрачный фон */
  background-color: transparent;
  border: none;
  font-size: 18px;
  width: 70px;
  margin-bottom: 12px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  /*  отключает все взаимодействия */
  pointer-events: none;
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus {
  /* tab убирает овбодку */
  outline: none;
  /* снизу линия */
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4)
}

/* no foucs */
.page-title {
  /* мин, формула изменения, макс */
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--header-text);
  /* по х, у, размытие */
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: 700;
  /* вертикальное пространство между строками */
  line-height: 95.7px;
}

/* что делать, когда... */
.header_title {
  font-size: 18px;
  font-weight: 700;
  /* вертикальное пространство между строками */
  line-height: 23.4px;
  /* по левому краю */
  text-align: left;
}
/* цвет что делать когда ...*/
.title-decor {
  color: var(--text-color-dark);
  background-color: var(--accent-color);
}

.main {
  padding: 40px 10px;
}

/* применяет стили ко всем section элементам кроме последнего */
.section:not(:last-child) {
  /* нижний отступ */
  margin-block-end: 50px;
}
/* Почему сосредоточиться так сложно */
.section-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--accent-color);
  margin-block-end: 20px;
  line-height: 23.4px;
}
/* многозадачн дофамин еда гадж */
.title {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color-dark);
  line-height: 23.4px;
}

.articles-list {
  display: grid;
  gap: 20px;
}

.articles-reason {
  display: grid;
  gap: 20px;
}

.section-text {
  margin-top: 10px;
  font-size: 18px;
  color: var(--text-color-light);
  font-weight: 400;
  line-height: 23.4px;
}
/* выяснили, показал */
.section-link {
  color: var(--text-color-light);
  text-decoration: none;
  cursor: pointer;
}

.text-shadow {
  /* смещение по х, у размытие */
  text-shadow: 2px 1px 0 var(--accent-color);
}

.section-link:hover {
  border-bottom: 2px solid var(--text-color-light);
}

.section-link:focus {
  /* убирает обводку */
  outline: none;
  border: 1px solid var(--text-color-light);
}

/* .section-link:focus-visible {
  outline: none;
  border: 1px solid var(--text-color-light);
} */

.section-picture-list {
  display: grid;
  gap: 10px;
  margin-top: 10px;
}

.section_list-item {
  width: 100%;
  height: 100%;
  display: block;
  /* обрезает изображение по контейнеру */
  object-fit: cover;
  object-position: center;  
}

.footer {
  display: grid;
  padding: 10px;
  align-content: center;
  min-height: 100vh;
}

.footer-text {
  font-size: 116px;
  font-weight: 700;
  line-height: 95.7px;
  margin-top: 20px;
  color: var(--header-text);
  text-shadow: 2px 2px 0px var(--accent-color);
  text-align: center;
}

/* для планшетов и компов*/
@media (width >=768px) {
  .main {
      padding: 60px 10px;
  }

  .decor-rec {
      right: 30px;
      top: 22px;
  }

  .decor-zone {
      padding: 20px;
  }
/* no foucs */
  .page-title {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
      display: grid;
      margin-left: -20px;
  }
/* что делать когда... */
  .header_title {
      justify-self: end;
      inline-size: clamp(364px, calc(100%/2), 491px);
  }

  .section {
    /* 2 колонки, */
      grid-template-columns: clamp(236px, calc(100% / 3.5), 315px) 1fr;
      /* 0 -сверху снизу, 10 спр слв */
      padding: 0 10px;
  }

  .section:not(:last-child) {
      margin-bottom: 80px;
  }

  .sosredotochitsy_slozno {
      display: grid;
      position: relative;
      /* располагает эл-ты в колонки */
      grid-auto-flow: column;
  }

  .section_methods {
      display: grid;
      position: relative;
      /* располагает эл-ты в колонки */
      grid-auto-flow: column;
  }

  .articles-list {
    /* занять 2 колонки */
      grid-column-start: span 2;
      margin-inline-start: 20px;
  }

  .section-title {
      position: relative;
      /* выравнивает элемент по левому краю */
      justify-self: start;
      inline-size: clamp(236px, calc(100%/3.5), 315px);
  }

  .section-picture-list {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      margin-block-start: 20px;
  }

  .section-picture-list-item:first-child {
    /* первый эл-т занимает 2 колонки */
      grid-column-start: span 2;
  }

  .section-picture-list-item:nth-child(2) {
     /* второй эл-т занимает 2 строки */
      grid-row-start: span 2;
  }

  .section-picture-list-item:nth-child(3) {
    /* трерий эл-т занимает 2 строки */
      grid-row-start: span 2;
  }

  .section-picture-list-item:nth-child(4) {
      grid-column-end: span 1;
  }

  .section-picture-list-item:nth-child(5) {
      grid-column-end: span 2;
  }

  .footer-text {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >=1024px) {

  .header {
    /* создает вертикальную сетку из 3 строк . мин пространство*/
      grid-template-rows: 1fr min-content 1fr;
  }

  .header__theme-menu {
      justify-self: center;
      align-self: start;
      margin-top: 0;
  }

  .header__theme-menu-list {
      display: grid;
      grid-auto-flow: column;
      justify-self: center;
      gap: 10px;
  }

  .header_title {
      height: 71px;
      align-self: center;
      margin-top: 15px;
  }

  .articles-reason {
      display: grid;
      /* создание grid-сетки с 3 одинаковыми колонками */
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;
  }

  .section-text {
    /* определяет порядок следования флекс-элементов */
      order: 1;
  }

  .main {
      padding: 60px 20px;
  }

  .section {
      padding: 0;
  }

  .section-title {
      min-width: 315px;
  }

  .articles-list {
      margin-left: 50px;
  }

}